.banner {
  height: 200px;
}

.wrapper-white {
  height: 400px;
}

.header-details-flat {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-vertical {
  margin: 20px 0;
}
